<h1 class="page-header">Arrested Development Quotes</h1>

<div class="well">
<div class="row-fluid">
  <div class="span6">
    <h2>Search</h2>
    <form method="get" action="/search">
      <div class="input-append">
        <input type="text" name="q" class="input input-xlarge" value="<%= ERB::Util.html_escape @q %>">
        <button class="btn">search</button>
      </div>
    </form>
  </div>
  <div class="span6">
    <h2>Examples</h2>
    <ul>
      <li><a href="/search?q=No+touching">No Touching</a>
      <li><a href="/search?q=Blue+Myself">Blue Myself</a>
      <li><a href="/search?q=Ice+Cream">Ice Cream</a>
      <li><a href="/search?q=Huge+Mistake">Huge Mistake</a>
      <li><a href="/search?q=Hot+Mess">Hot Mess</a>
      <li><a href="/search?q=Sound+of+Silence">Sound of Silence</a>
    </ul>
  </div>
</div>
</div>

<% @results.each do |result| %>
  <h2>Season <%= result.season %> Episode <%= result.episode %></h2>
  <h3>At <%= "%i:%.2i" % [result.time / 60, result.time % 60] %></h2>
  <p>
  <%= result.text.join("<br/>") %>
  </p>
  <hr/>
<% end %>
